

<ion-content>
  <ion-row>
    <img  style="width: 301px;
    height:301px;
    position: absolute;
    margin: 129px 37px 382px 37px;
    " src="../../assets/images/guard one Artboard 1 1.png">
  </ion-row>

  <ion-row>
    <ion-col>
      <p style="position: absolute;
      width: 103px;
      height: 30px;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      /* identical to box height, or 125% */

      text-align: center;
      letter-spacing: 0.0036em;

      /* Labels Colors/Primary */

      color: #22292E;
      margin: 476px 136px 306px 136px;">Webinars</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p style="position: absolute;
      width: 343px;
      height: 42px;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      /* or 131% */

      text-align: center;
      letter-spacing: 0.003em;

      /* Labels Colors/Secondary */

      color: #8A8A8E;
      margin: 522px 16px 248px 16px;">Online webinars for market trading stratergies and planning</p>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-button style="
    display: flex;
flex-direction: column;
align-items: center;
padding: 13px 129px;

position: absolute;
width: 343px;
height: 48px;
left: 16px;
top: 713px;

background: #000194;
border-radius: 5px;">
<p style="position: static;
width: 98px;
height: 22px;
font-family: Proxima Nova;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
letter-spacing: 0.004em;
background-color:#000194;
margin:13px 122.5px 13px 122.5px;
flex: none;
order: 0;
flex-grow: 0;">Getting Started</p>
    </ion-button>
  </ion-row> -->
  <ion-row>
    <ion-col  style="text-align: center;"size=12>
      <ion-button  style="
      width: 343px;
      height: 48px;
      margin:713px 16px 51px 16px;
      
      --background: #000194;
      border-radius: 5px;">
      <p style="position: static;
      width: 63px;
      height: 18px;
      font-family: DM Sans Medium;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.02em;
  
      color: #FFFFFF;
      margin: 13px 122.5px 13px 122.5px;">Getting started</p>
    </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
