<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-row>
  <ion-col size=12 style="text-align: center;">
    <img style="  width: 105.91px;
    height: 71.35px;
    margin-top:55.33px;
    margin-left:136px;
    margin-right:133.09px;
    margin-bottom:39.33px;" src="../../assets/images/login screen main vector.png">
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size=12>
    <ion-card style="text-align: center;
    width: 327px;
    height: 544px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 24px;
    margin-right:24px;
    margin-top: 0px;
    position: absolute;">
    <ion-row>
      <ion-col size=12 style="text-align: center;">
        <h1 style="width: 184px;
        height: 29px;
        
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;

        color: #092C4C;
        margin: 39px 71px 13px 72px;">Welcome Back !</h1>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col size=12 style="text-align: center;">
       <p style="
       width: 317px;
       height: 24px;
       left: 29px;
       font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */

        text-align: center;

        color: #36455A;
        margin: 0px 5px 25px 5px;">sign in to your continue account</p>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-label style="
        width: 81px;
        height: 13px;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: #36455A;

        opacity: 0.5;
        margin :-25px 229px 11px 17px" position="stacked">Email Address</ion-label>
      </ion-row>
      <ion-row>
      <ion-col size=12 style="text-align: center;">
        <ion-item  color="none" lines="none" class="item-background-color">

          <ion-input type='text' name='name'  style="color:#000000;
          font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
position: absolute;
width: 181px;
height: 19px;
margin-top: -33px;"
           
          placeholder="example@gmail.com"></ion-input>

         
        </ion-item>
        <hr style="position: absolute;
        width: 294px;
        height: 0px;
        opacity: 0.2;
        border: 0.587852px solid #03014C;
        margin-left: 17px;
        margin-top: -20px;"> 
      </ion-col>
    </ion-row>


    <ion-row style="margin-top: 21px;">
      <ion-label style="
      width: 63px;
      height: 13px;
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;

      color: #36455A;

      opacity: 0.5;
      margin :-25px 229px 11px 17px" position="stacked">Password</ion-label>
    </ion-row>
    <ion-row>
    <ion-col size=12 style="text-align: center;">
      <ion-item  color="none" lines="none" class="item-background-color">

        <ion-input type='Password' name='name'  style="color:#000000;
        font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
position: absolute;
width: 181px;
height: 19px;
margin-top: -33px;"
         
        placeholder="Password"></ion-input>

       
      </ion-item>
      <hr style="position: absolute;
      width: 294px;
      height: 0px;
      opacity: 0.2;
      border: 0.587852px solid #03014C;
      margin-left: 17px;
      margin-top: -20px;"> 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=1><input   style="position: absolute;
      width: 24px;
      height: 24px;
      left: 16px;
      border: 0.7px solid #D0D0D0;
       box-sizing: border-box;
      border-radius: 4px;"type="checkbox"></ion-col>
    <ion-col size=3>
      <p style="position: absolute;
      width: 89px;
      height: 14px;
      left: 10px;
      margin-top: 7px;
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height, or 117% */

      letter-spacing: 0.02em;

      color: #ABB3BB;"
      >Remember me</p>
    </ion-col>
    <ion-col size=3></ion-col>
    <ion-col size=2>
      <p style="
      width: 108px;
height: 14px;
margin-top:7px;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

text-align: right;
letter-spacing: 0.02em;

color: #FC6D5B;">Forgot pasword?</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col  style="text-align: center;"size=12>
      <ion-button  style="margin:0px 16px 0px 16px;
      width: 295px;
      height: 52px;
      margin-left: 16px;
      
      --background: #000194;
      border-radius: 5px;">
      <p style="position: absolute;
      width: 81px;
      height: 14px;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.03em;

      color: #FFFFFF;">Sign in</p>
    </ion-button>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 31px;">
    <ion-col style="text-align: center;">
      <hr style="position: absolute;
      width: 123px;
      height: 0px;
      border: 0.7px solid #E1E1E1;
      margin-left:16px;"><span style="
      width: 17px;
      height: 19px;
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.03em;

      color: #ABB3BB;">or</span><hr style="
      width: 123px;
      height: 0px;
      border: 0.7px solid #E1E1E1;
      margin-top: -12px;
      margin-left: 178px;
      ">

    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 16px;">
    <ion-col size=6>
      <ion-button style="
      
        width: 139px;
        height: 48px;
        --background: linear-gradient(90.74deg, #FC6A57 0.64%, #FF7A69 0.65%, #FF5741 99.53%);
        border-radius: 6px;
        ">Google</ion-button>
    </ion-col>
    <ion-col size=6>
      <ion-button style="
      
      width: 139px;
      height: 48px;
      background: linear-gradient(88.75deg, #298FFF 0.18%, #0778F5 99.28%);
      border-radius: 6px;">facebook</ion-button>
    </ion-col>
  </ion-row>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size=12>
    <p
    style="position: absolute;
    width: 188px;
    height: 14px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: 0.02em;

    color: #092C4C;
    margin-top: 575px;
    margin-left: 94px;">Dont Have an Account?<b>Sign Up</b></p>
  </ion-col>
</ion-row>



</ion-content>
