<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verificationsucces</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-col size=12 style="text-align: center;">
      <img style="  width: 105.91px;
      height: 71.35px;
      margin-top:55.33px;
      margin-left:136px;
      margin-right:133.09px;
      margin-bottom:39.33px;" src="../../assets/images/login screen main vector.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=12>
      <ion-card style="text-align: center;
      width: 327px;
      height: 544px;
      background: #FFFFFF;
      border-radius: 10px;
      margin-left: 24px;
      margin-right:24px;
      margin-top: 0px;
      position: absolute;">
      <ion-row>
        
          <img  style="width: 226px;
          height: 226px;
          margin: 51px 50px 267px 51px;"src="../../assets/images/verification succes illustration.png">
      
      </ion-row>

      <ion-row>
        <ion-col size=12>
          <p style="
          width:235px;
          height:27px;
          position: absolute;
          font-family: Proxima Nova;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 27px;
          /* identical to box height */
      
          text-align: center;
          letter-spacing: 0.02em;
      
          color: #1E263C;
          margin: -243px 45px 211px 47px" >Verification Successful</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <p style="
        width:227px;
        height:44px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */
        
        text-align: center;
        letter-spacing: 0.02em;
        
        color: #6B7285;
        position:absolute;
        margin:-200px 50px 149px 50px">Welcome back ! Continue to home page.</p>
      </ion-row>

      <ion-row>
        <ion-col  style="text-align: center;"size=12>
          <ion-button  style="
          width: 287px;
          height: 52px;
          margin:-135px 20px 54px 20px;
          
          --background: #000194;
          border-radius: 8px;">
          <p style="position: absolute;
          width: 63px;
          height: 18px;
          font-family: DM Sans Medium;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.02em;
      
          color: #FFFFFF;">Sign in</p>
        </ion-button>
        </ion-col>
      </ion-row>
      </ion-card>
  </ion-col>
</ion-row>      
</ion-content>
