ion-content{
    --ion-background-color:#E5E5E5;
  }

  ion-input{
    --placeholder-color: #1E263C;
    --placeholder-width:10px;
    --placeholder-height:21px;
    
    --placeholder-font-family: DM Sans Medium;
    --placeholder-font-size: 16px;
    --placeholder-line-height: 19px;
    --placeholder-text-align: center;
    --placeholder-letter-spacing: 0.02em;

   
}