<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verification</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-col size=12 style="text-align: center;">
      <img style="  width: 105.91px;
      height: 71.35px;
      margin-top:55.33px;
      margin-left:136px;
      margin-right:133.09px;
      margin-bottom:39.33px;" src="../../assets/images/login screen main vector.png">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size=12>
      <ion-card style="text-align: center;
      width: 327px;
      height: 544px;
      background: #FFFFFF;
      border-radius: 10px;
      margin-left: 24px;
      margin-right:24px;
      margin-top: 0px;
      position: absolute;">
<ion-row>
  <img  style="Width: 157px;
  Height:157px;
  position:absolute;
  margin: 25.5px 84.5px 361.5px 85.5px;"
  src="../../assets/images/verification illustration.png">
</ion-row>

<ion-row>
  <ion-col size=12>
    <p style="
    position: absolute;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1E263C;
    margin: 206px 99px 309px 100px" >Verification</p>
  </ion-col>
</ion-row>

<ion-row>
  <p style="font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #6B7285;
  position:absolute;
  margin:251px 50px 249px 50px">Enter 4 digit number that sent to The email on your device</p>
</ion-row>

<ion-row>
  <ion-col size=2>
    <ion-input style="
    border: 0.5px solid #C3C7E5;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    width:59px;
    height:59px;
    margin:327px 247px 158px 21px"></ion-input>
  </ion-col>
  <ion-col size=2>
    <ion-input style="
    border: 0.5px solid #C3C7E5;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    width:59px;
    height:59px;
    margin:327px 171px 158px 40px"></ion-input>
  </ion-col>
  <ion-col size=2>
    <ion-input style="
    border: 0.5px solid #C3C7E5;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    width:59px;
    height:59px;
    margin:327px 96px 158px 60px"></ion-input>
  </ion-col>
  <ion-col size=2>
    <ion-input style="
    border: 0.5px solid #C3C7E5;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    width:59px;
    height:59px;
    margin:327px 20px 158px 81px;" placeholder=""></ion-input>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col  style="text-align: center;"size=12>
    <ion-button  style="
    width: 287px;
    height: 52px;
    margin:438px 20px 54px 20px;
    
    --background: #000194;
    border-radius: 8px;">
    <p style="position: absolute;
    width: 63px;
    height: 18px;
    font-family: DM Sans Medium;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;">Sign in</p>
  </ion-button>
  </ion-col>
</ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
   <p style="width:147px;
   height:18px;
   font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #F1775C;
    margin:569px 114px 55px 114px;
    ">Re-send code in 0:30</p>
  </ion-row>
</ion-content>
