

<ion-content [fullscreen]="true">
  <ion-row style="margin-top: 61px;">
    <!-- <ion-col size="2"></ion-col> -->
    <ion-col size="4" style="text-align:end;">
      <!-- <ion-icon style="color: tomato;" name="location-outline"></ion-icon> -->
      <img  style="color: #FF6E4E;
      width: 12px;
      height: 15.31px;
      position: absolute;
      margin-top: 2px;text-align: center;margin-left: -21px;" src="../../assets/images/grid 1 location.png" > 
    </ion-col>
    <!-- <ion-col size="6" style="text-align: center;" >
      <p style="text-align: center;
      width: 98px;height: 18px;font-size: 15px;
     font-weight: 250;
     line-height: 18px;
     color: #010035;
   position: absolute;
   font-style: normal;
   letter-spacing: -0.333333px;">Banglore,India</p>
    </ion-col> -->
    <ion-col size="4"  
    style="text-align: center;
      width: 98px;height: 18px;font-size: 15px;
     font-weight: 250;
     line-height: 18px;
     color: #010035;
   
   font-style: normal;
   letter-spacing: -0.333333px;">Banglore,India</ion-col>
   <ion-col size="2">
     <!-- <div style="width:7.07px;border: 1px solid #B3B3B3;
    transform: rotate(45deg); margin-top: 10px;position: absolute;"></div><span style="width:7.07px;border: 1px solid #B3B3B3;
    transform: rotate(-45deg); margin-top: 10px;position: absolute;"></span> -->
    </ion-col>
    <ion-col size="2" style="text-align:end;">
      <!-- <ion-icon style="width: 11px;height: 13px;color: #010035;" name="funnel-outline"></ion-icon> -->
      <img  style="width: 11px;height: 13px;
      color: #010035;
      margin-right: 35px;
      text-align: center;" src="../../assets/images/grid 1 filter.png"> 
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 19px;">
    <ion-col size="8"
      style=" text-align: center;
      font-style: normal;
      font-size: 25px;
      font-weight: 700;
      width: 176px;
      height: 30px;
      line-height: 30.45px;
      letter-spacing: -0.333333px;
      color: #010035;">
      Select category</ion-col>
    <!-- <ion-col size="3"></ion-col> -->
    <ion-col size="4"
       style="    width: 47px;
       height: 18px;
       
       
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
       line-height: 18px;
       text-align: center;
       letter-spacing: -0.333333px;
       color: #FF6E4E;
       margin-top: 9px;">
      View All</ion-col>
 </ion-row>
 <ion-row style="margin-top: 26px;">
  <ion-col size="3">
    <ion-avatar style="position: absolute;
    width: 71px;
    height: 71px;
    /* left: 121px;
    top: 157px; */
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(167, 171, 201, 0.15);">
      <img  style="position: absolute;
      width: 40px;
      height: 31px;
      margin-left: 23.00%;
     margin-right: 57.25%;
     margin-top: 24.81%;
     margin-bottom: 82.58%;
     border-radius: 1%;" src="../../assets/images/grid 3 2.png">  
    </ion-avatar>
    <span style="position: absolute;
   width: 54px;
   height: 15px;
   /* left: 35px;
   top: 235px; */
   
   font-family: Proxima Nova;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   /* identical to box height */
   
   text-align: center;
   letter-spacing: -0.333333px;
   
   color: #FF6E4E;
   margin-left: 9px;
   margin-top: 78px;
   ">Cources</span>
   </ion-col>
  <ion-col size="3">
   <ion-avatar style="position: absolute;
   width: 71px;
   height: 71px;
   /* left: 121px;
   top: 157px; */
   
   background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(167, 171, 201, 0.15);">
     <img  style="position: absolute;
     width: 40px;
     height: 31px;
     margin-left: 23.00%;
    margin-right: 57.25%;
    margin-top: 24.81%;
    margin-bottom: 82.58%;
    border-radius: 1%;" src="../../assets/images/grid 3 2.png">  
   </ion-avatar>
   <span style="position: absolute;
  width: 54px;
  height: 15px;
  /* left: 35px;
  top: 235px; */
  
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.333333px;
  
  color: #FF6E4E;
  margin-left: 9px;
  margin-top: 78px;
  ">Cources</span>
  </ion-col>
  <ion-col size="3">
    <ion-avatar style="position: absolute;
    width: 71px;
    height: 71px;
    /* left: 121px;
    top: 157px; */
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(167, 171, 201, 0.15);">
      <img  style="position: absolute;
      width: 40px;
      height: 31px;
      margin-left: 23.00%;
     margin-right: 57.25%;
     margin-top: 24.81%;
     margin-bottom: 82.58%;
     border-radius: 1%;" src="../../assets/images/grid 3 products.png">  
    </ion-avatar>
    <span style="position: absolute;
    width: 54px;
    height: 15px;
    /* left: 35px;
    top: 235px; */
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FF6E4E;
    margin-left: 9px;
    margin-top: 78px;
    ">Products</span>
  </ion-col>
  <ion-col size="3">
    <ion-avatar style="position: absolute;
    width: 71px;
    height: 71px;
    /* left: 121px;
    top: 157px; */
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(167, 171, 201, 0.15);">
      <img  style="position: absolute;
      width: 40px;
      height: 31px;
      margin-left: 23.00%;
     margin-right: 57.25%;
     margin-top: 24.81%;
     margin-bottom: 82.58%;
     border-radius: 1%;" src="../../assets/images/grid 3 2.png">  
    </ion-avatar>
    <span style="position: absolute;
    width: 54px;
    height: 15px;
    /* left: 35px;
    top: 235px; */
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FF6E4E;
    margin-left: 9px;
    margin-top: 78px;
    ">Others</span>
  </ion-col>
</ion-row>

<ion-row style="margin-top: 80px;">
  <ion-col size="10">
  
      
    <!-- <ion-item lines="none" class="searchbarhome  " style="margin:16px; background-color:white;border-radius:35px;">
      <ion-input type="text"  placeholder="Search" ></ion-input>
      <img slot="end" src="../../assets/images/search.svg" style="padding: 0px;"  >
    </ion-item> -->
    
    <div class="searchbarhome" style="width:270px;height: 34px;border-radius: 50px;background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(191, 197, 245, 0.15);margin-top: 17px;">
      <ion-input type="text"  placeholder="Search" >
        <img slot="end" src="../../assets/images/grid 4 search.png" 
        style="padding: 0px;
        width: 16px;
        height: 16px;
        margin-left:24px"  >
      </ion-input>
      
    </div>
  </ion-col>
  
    <ion-col size="2">
      <ion-avatar  style="
      width: 34px;
height: 34px;
/* left: 343px; */
/* top: 285px; */
background: #FF6E4E;
box-shadow: 0px 0px 20px rgb(191 197 245 / 15%);
border-radius: 50px;
margin-top: 17px;
margin-right: 37px;" >
        <img  style="position: absolute;
        width: 14.78px;
        height: 14.78px;
        margin:9.61px;
        border-radius:1px;" src="../../assets/images/grid 4 qrcode.png"  >
      </ion-avatar>
    </ion-col>
  
  </ion-row>

  <ion-row style="margin-top: 5px;">
    <ion-col size="8"
      style=" text-align: left;
      font-style: normal;
      font-size: 25px;
      font-weight: 700;
      width: 176px;
      height: 30px;
      line-height: 30.45px;
      letter-spacing: -0.333333px;
      color: #010035;">
      Hot Sales</ion-col>
    <!-- <ion-col size="3"></ion-col> -->
    <ion-col size="4"
       style="    width: 47px;
       height: 18px;
       
       
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
       line-height: 18px;
       text-align: center;
       letter-spacing: -0.333333px;
       color: #FF6E4E;
       margin-top: 9px;">
      see more</ion-col>
 </ion-row>

 <ion-row style="margin-top: 0px;">
  <ion-col size="12"  
  style="height: 186px;border-radius: 10px;position: absolute;
    " ><img  style=" border-radius: 10px;
    width: 379.5px;
    height: 186px;" src="../../assets/images/tradescreenshot.svg">
  
  <!-- <ion-card style="height: 186px;border-radius: 10px;position: absolute;margin-left: 14.62px;
    margin-right: 19.62px;">
        <img src="../../../assets/images/tradescreenshot.svg" style="width: 100%;
          height: 100%;">
          <div style=" position: absolute;
           top: 0%;
           right: 53%;
           background-color: rgb(149 56 226 / 85%);
           height: 177px;
           text-align: center;">
           <ion-fab-button style="margin-left: 18px;
           margin-top: 10px;
           margin-bottom: 5px;">
            <p>New</p>
          </ion-fab-button>
            <h1 style="color: snow;
            margin-bottom: -12px;
            margin-top: -9px;">Tradezilla</h1>
            <p style="color: snow;">Discover your Trading edge</p>
            <button style="height: 28px;
            width: 115px;
            border-radius: 13px; 
            font-size: 20px;
            font-weight: bold;">Buy Now</button>
          </div>
    </ion-card> -->
  <div style="position: absolute;
  width: 170.5px;
  height: 164px;
  /* left: 14px;
  top: 374px; */
  
  background: #056EBC;
  margin-top: -179px;
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;">
    <img  style="position: absolute;
        margin-top: 23px;
    margin-left: 16px;
    width:27px;
    height:27px;
    border-radius: 50%;
    background: #FF6E4E;" src="../../../assets/images/trademainimagrround.svg" >
    <p style="position: absolute;
    width: 20px;
    height: 12px;
    margin-top: 30px;
    margin-left: 20px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FFFFFF;">New</p>
    <p style="position: absolute;
    width: 129px;
    height: 27px;
    margin-top:60px;
    margin-left:17px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FFFFFF;">Tradezilla50</p>
    <p style="position: absolute;
    width: 125px;
    height: 13px;
    margin-top: 98px;
    margin-left: 17px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FFFFFF;">Discover your Trading Edge</p>
    <img  style=" margin-left: 26px;
    margin-top: 125px;position: absolute;
width: 98px;
height: 23px;
background: #FFFFFF;
border-radius: 5px;"src="../../../assets/images/tradescreenshotrect.svg">
<p style="position: absolute;
width: 44px;
height: 13px;
margin-left: 53px;
margin-top: 130px;

font-family: Proxima Nova;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;
text-align: center;
letter-spacing: -0.333333px;

color: #010035;">Buy now</p>
   </div>
  </ion-col>
</ion-row>
<ion-row style="margin-top: 203px;">
  <ion-col size="8"
    style=" text-align: left;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    width: 176px;
    height: 30px;
    line-height: 30.45px;
    letter-spacing: -0.333333px;
    color: #010035;">
    Best Seller</ion-col>
  <!-- <ion-col size="3"></ion-col> -->
  <ion-col size="4"
     style="    width: 47px;
     height: 18px;
     
     
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     line-height: 18px;
     text-align: center;
     letter-spacing: -0.333333px;
     color: #FF6E4E;
     margin-top: 9px;">
    see more</ion-col>
</ion-row>
  <ion-row  style="margin-top: 0px;">
    
    <ion-col size="6">
      <ion-card style="    width: 181px;
      height: 227px;
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgb(170 182 211 / 10%);
      border-radius: 10px;
      position: absolute;
      margin-left: 0px; ">
  
     
        <img  style="width: 179px;
        height: 164px;
        position: absolute;
        border-radius: 7px;
        padding: 3px 3px 3px 4px;" src="../../../assets/images/tradescreenshot1.svg">
            
  
      <ion-avatar style="width: 25px;position: absolute;
          height: 25px;
          margin-left: 140px;
          margin-top: 7px;
          background: #FFFFFF;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);" >
        <img  style="position: absolute;
        width: 11px;
        height: 10px;
        border-radius: 0%;
        margin: 8px 7px 7px 7px;
        " src="../../assets/images/grid 8 Vector .png" class="cardicon" >
      </ion-avatar>
            <ion-card-content style="    height: 60px;
            margin-top: 160px;
            margin-left: 21px;">
              <p style="position: absolute;
              width: 70px;
              height: 19px;
              /* left: 38px;
              top: 799px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.333333px;
              
              color: #010035; ">
              Free</p>
              <p style="position: absolute;
              width: 53px;
              height: 12px;
              /* left: 38px;
              top: 824px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              letter-spacing: -0.333333px;
              
              color: #010035;
              margin-top: 25px;">7 day trail</p>
          </ion-card-content>
      </ion-card>
    <!-- <div style="position: absolute;
    width: 181px;
    height: 227px;
    left: 17px;
    
    
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(170, 182, 211, 0.1);
    border-radius: 10px;">
    <img src="../../../assets/images/chikken.jpeg" style="width: 174px;
    height: 164px;
    left: 21px;
    top: 628px;
    
    
    border-radius: 7px;"
    >
  </div> -->
    </ion-col>
    <ion-col size="6">
      <ion-card style="    width: 181px;
      height: 227px;
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgb(170 182 211 / 10%);
      border-radius: 10px;
      position: absolute;
      margin-left: -2px; ">
  
     
        <img  style="width: 187px;
        height: 168px;
        position: absolute;" src="../../../assets/images/tradescreenshot2.svg">
            
  
            <ion-avatar style="width: 25px;position: absolute;
            height: 25px;
            margin-left: 140px;
            margin-top: 7px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);" >
          <img  style="position: absolute;
          width: 11px;
          height: 10px;
          border-radius: 0%;
          margin: 8px 7px 7px 7px;
          " src="../../assets/images/grid 8 Vector .png" class="cardicon" >
        </ion-avatar>
            <ion-card-content style="    height: 60px;
            margin-top: 160px;
            margin-left: 21px;">
              <p style="position: absolute;
              width: 70px;
              height: 19px;
              /* left: 38px;
              top: 799px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.333333px;
              
              color: #010035; ">
              Free</p>
              <p style="position: absolute;
              width: 53px;
              height: 12px;
              /* left: 38px;
              top: 824px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              letter-spacing: -0.333333px;
              
              color: #010035;
              margin-top: 25px;">7 day trail</p>
          </ion-card-content>
      </ion-card>
    <!-- <div style="position: absolute;
    width: 181px;
    height: 227px;
    left: 17px;
    
    
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(170, 182, 211, 0.1);
    border-radius: 10px;">
    <img src="../../../assets/images/chikken.jpeg" style="width: 174px;
    height: 164px;
    left: 21px;
    top: 628px;
    
    
    border-radius: 7px;"
    >
  </div> -->
    </ion-col>
    
  
  </ion-row>
  <ion-row style="margin-top: 227px;">
    <ion-col size="6">
      <ion-card style="    width: 181px;
      height: 227px;
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgb(170 182 211 / 10%);
      border-radius: 10px;
      position: absolute;
      margin-left: -2px; ">
  
     
        <img  style="width: 187px;
        height: 168px;
        position: absolute;" src="../../../assets/images/tradescreenshot2.svg">
            
  
            <ion-avatar style="width: 25px;position: absolute;
            height: 25px;
            margin-left: 140px;
            margin-top: 7px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);" >
          <img  style="position: absolute;
          width: 11px;
          height: 10px;
          border-radius: 0%;
          margin: 8px 7px 7px 7px;
          " src="../../assets/images/grid 8 Vector .png" class="cardicon" >
        </ion-avatar>
            <ion-card-content style="    height: 60px;
            margin-top: 160px;
            margin-left: 21px;">
              <p style="position: absolute;
              width: 70px;
              height: 19px;
              /* left: 38px;
              top: 799px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.333333px;
              
              color: #010035; ">
              Free</p>
              <p style="position: absolute;
              width: 53px;
              height: 12px;
              /* left: 38px;
              top: 824px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              letter-spacing: -0.333333px;
              
              color: #010035;
              margin-top: 25px;">7 day trail</p>
          </ion-card-content>
      </ion-card>
    <!-- <div style="position: absolute;
    width: 181px;
    height: 227px;
    left: 17px;
    
    
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(170, 182, 211, 0.1);
    border-radius: 10px;">
    <img src="../../../assets/images/chikken.jpeg" style="width: 174px;
    height: 164px;
    left: 21px;
    top: 628px;
    
    
    border-radius: 7px;"
    >
  </div> -->
    </ion-col>

    <ion-col size="6">
      <ion-card style="    width: 181px;
      height: 227px;
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgb(170 182 211 / 10%);
      border-radius: 10px;
      position: absolute;
      margin-left: -2px; ">
  
     
        <img  style="width: 187px;
        height: 168px;
        position: absolute;" src="../../../assets/images/tradescreenshot2.svg">
            
  
            <ion-avatar style="width: 25px;position: absolute;
            height: 25px;
            margin-left: 140px;
            margin-top: 7px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);" >
          <img  style="position: absolute;
          width: 11px;
          height: 10px;
          border-radius: 0%;
          margin: 8px 7px 7px 7px;
          " src="../../assets/images/grid 8 Vector .png" class="cardicon" >
        </ion-avatar>
            <ion-card-content style="    height: 60px;
            margin-top: 160px;
            margin-left: 21px;">
              <p style="position: absolute;
              width: 70px;
              height: 19px;
              /* left: 38px;
              top: 799px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.333333px;
              
              color: #010035; ">
              Free</p>
              <p style="position: absolute;
              width: 53px;
              height: 12px;
              /* left: 38px;
              top: 824px; */
              
              font-family: Proxima Nova;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              letter-spacing: -0.333333px;
              
              color: #010035;
              margin-top: 25px;">7 day trail</p>
          </ion-card-content>
      </ion-card>
    <!-- <div style="position: absolute;
    width: 181px;
    height: 227px;
    left: 17px;
    
    
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(170, 182, 211, 0.1);
    border-radius: 10px;">
    <img src="../../../assets/images/chikken.jpeg" style="width: 174px;
    height: 164px;
    left: 21px;
    top: 628px;
    
    
    border-radius: 7px;"
    >
  </div> -->
    </ion-col>
  </ion-row>
  
  


</ion-content>
